@font-face {
  font-family: goth;
  src: url(https://cdn.glitch.global/d43befd0-3165-4b3f-877c-9ae333fb5e3c/Gothic%20War.otf?v=1742392227425)
}

body {
  background-color: black;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: black;
}

h1{
  color: white;
  font-size: 70px;
  font-family: goth;
  letter-spacing: 4px;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}